


.footerList-enter {
    bottom: 0;
}

.footerList-enter-active {
    bottom: 80px;
    transition: bottom 700ms;
}

.footerList-exit {
    opacity: 1;
    bottom: 80px;
}

.footerList-exit-active {
    bottom: 0;
    transition:  700ms;
} 


