.list-enter {
    opacity: 0;
}

.list-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.list-exit {
    opacity: 1;
    transform:translateX(0);
}

.list-exit-active {
    opacity: 0;
    transform:translateX(-100%);
    transition: opacity 250ms ease-in, transform 750ms;
}


.footerList-enter {
    bottom: 0;
}

.footerList-enter-active {
    bottom: 80px;
    transition: bottom 500ms;
}

.footerList-exit {
    opacity: 1;
    bottom: 80px;
}

.footerList-exit-active {
    bottom: 0;
    transition:  500ms;
} 