


.footer-enter {
    bottom: 0;
}

.footer-enter-active {
    bottom: 80px;
    transition: bottom 700ms;
}

.footer-exit {
    opacity: 1;
    bottom: 80px;
}

.footer-exit-active {
    bottom: 0;
    transition:  700ms;
} 


/* 
.footer-enter {
    opacity: 0;
    transform:translateY(-100%);
    transform: scaleY(0)
}

.footer-enter-active {
    opacity: 1;
    transform:translateХ(0);
    transform: scaleY(1)
    transition: opacity 250ms ease-in, transform 1000ms;
}

.footer-exit {
    opacity: 1;
    transform:translateХ(0);
}

.footer-exit-active {
    opacity: 0;
    transform:translateХ(-100%);
    transition: opacity 250ms ease-in, transform 1000ms;
} 
 */

/* .footer-enter {
    opacity: 0;
}

.footer-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-in;
}

.footer-exit {
    opacity: 1;
}

.footer-exit-active {
    opacity: 0;
    transition: opacity 700ms ease-in;
} */

